{% extends 'main/base.html' %}
{% block title %}Quiz{% endblock %}
{% block content %}
<h1>Questions</h1>
<form action="{% url 'display_poem' difficulty_id=poem.difficulty.id %}" method="post" name="question_form">
    {% csrf_token %}
    {% for question in questions %}
    <p>{{ question.text }}</p>
    <ul>
        {% for option in question.options %}
        <li>
            <input type="radio" name="answer{{ forloop.counter }}" id="answer{{ forloop.counter }}-{{ loop.index }}"
                value="{{ option }}">
            <label for="answer{{ forloop.counter }}-{{ loop.index }}">{{ option }}</label>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
    <button type="submit" name="poem_id" value="{{ poem_id }}">Done</button>
</form>
{% if score %}
<h2>Your score: {{ score }}</h2>
{% endif %}
{% endblock %}